
.btn-whatsapp:hover {
	background-color: #1fce5f;
	outline: 2px #ff0505 solid;
	transition: all .5s;
	box-shadow: 5px 5px 20px -2px #ce1515;
}


/*Header Version PC*/
.head-container {
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 7%, rgba(0,0,0,1) 57%);
    width: 100%;
}

.logo-img-container.mobile-logo-home.text-center-xs a img {
	border-radius: 20px ;
	border: 2px solid #000;
	border-radius: 50px;
	box-shadow:  10px 10px 35px #fa1414,-10px -10px 35px #ff2d2d;
}

.logo-img-container.mobile-logo-home.text-center-xs a img:hover {
	box-shadow: 0px 0px 15px 0px #fff;
	transition: all .4s ease-in;
}

.span4.col-xs-3-custom .searchbox.p-relative.hidden-phone {
	transform: translateX(25px);
}

.js-search-container.js-search-form input {
	background-color: #fff !important;
	border: #000 solid 2px !important;
	color: #000 !important;
	border-radius: 10px;
    padding: 5px !important;
	box-shadow:  20px 20px 60px #bebebe,
	-20px -20px 60px #ffffff;
}

.js-search-container.js-search-form input::placeholder {

	color: rgb(82, 81, 81) !important;
}

.js-search-container.js-search-form input:focus {
	box-shadow: 0px 0px 14px 8px #fa1414;
	transition: all .4s ease-in;

}

.btn.btn-desktop-search svg:hover {
	fill: #fa1414;
	transform: scale(1.2);
	transition: all .4s ease-in;
}

.user-access.font-small-extra.m-right-quarter.align-middle.hidden-phone {
	transform: translateX(25px);
}

.user-access.font-small-extra.m-right-quarter.align-middle.hidden-phone a {
	font-size: 11px;
	font-weight: 900;
    color: #ff0505;
	padding: 3px;
	border-radius: 15px;
	text-decoration: none;
}

.user-access.font-small-extra.m-right-quarter.align-middle.hidden-phone a:hover {
	color: #fff;
	border: 2px solid #fff;
	transition: all .4s ease-in;
}

.js-toggle-cart.js-fullscreen-modal-open.h5 .svg-inline--fa:hover {
	fill: #ff0505;


}
.js-toggle-cart.js-fullscreen-modal-open.h5 .svg-inline--fa:hover {
	fill: #fff;
	transition: all .4s ease-in;

}

.cart-summary.p-relative.d-inline-block {
	transform: translate(-7px, -69px);
}

.cart-summary.p-relative.d-inline-block:hover {
fill: #ff0505;
}

.cart-summary.p-relative.d-inline-block:hover {
	border: 2px solid white;
    border-radius: 15px;
}

@media (min-width:770px) AND (max-width:979px) {

	.cart-summary.p-relative.d-inline-block {
		transform:  translate(29px, -84px);
	}

	/* .user-access.font-small-extra.m-right-quarter.align-middle.hidden-phone {
		transform: translate(-15px, 20px);
	} */
}